{% extends 'layout.twig' %}

{%block title%} Créer un contact {%endblock%}

{%block content %}
    
<div class="row">
    <div class="col-sm-12">
        {% if (flashbag) %}
            <div class="alert alert-success">Le contact a bien été inseré <a href="contacts.php">Liste des contacts</a></div>
        {% endif %}
        {% if (message) %}
            <div class="alert alert-danger">Attention! le nom est un palindrome</div>
        {% endif %}
        <form class="form-signin" method="POST">
        <h2 class="form-signin-heading">Créer un contact</h2>
        <div class="form-group">
            <label for="nom" class="sr-only">Nom</label>
            <input type="text" name="nom" id="nom" class="form-control" placeholder="Nom" required autofocus>
        </div>
        <div class="form-group">
            <label for="prenom" class="sr-only">Prénom</label>
            <input type="text" name="prenom" id="prenom" class="form-control" placeholder="Prénom" required>
        </div>
        <div class="form-group" style="height: 55px">
            <label for="email" class="sr-only">Email</label>
            <input type="email" name="email" id="email" class="form-control float-left" placeholder="Email" required style="width: 80%"><a class="btn btn-primary float-right" id='check'>Vérifier</a>
        </div>
        
        <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit">Ajouter</button>
      </form>
    </div>    
</div>
{%endblock%}