{% extends 'layout.twig' %}

{%block title%} Ajouter une adresse {%endblock%}

{%block content %}
    
<div class="row">
    <div class="col-sm-8">
        {% if (flashbag) %}
            <div class="alert alert-success">L'adresse a bien été ajoutée <a href="edit.php?id={{contact }}">revenir à la page précédente</a></div>
        {% endif %}
        <form class="form-signin" method="POST">
        <h2 class="form-signin-heading">Ajouter une adresse </h2>
        <div class="form-group">
            <label for="adresse" class="sr-only">Adresse:</label>
            <input type="text" name="adresse" id="adresse" class="form-control" placeholder="Adresse" required autofocus>
        </div>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Ajouter</button>
      </form>
    </div>
    <div class="col-sm-4">
        <h2 class="form-signin-heading">Adresses </h2>
        <ul>
            {% for adr in adresses %}
                <li><a href="edit_adresse.php?id={{ adr.id }}&contact={{contact }}">{{ adr.adresse }}</a></li>
            {% endfor %}
        </ul>
        <br /><br />
        <a class="btn btn-lg btn-primary btn-block" href="add_adresse.php?id={{ contact }}">Ajouter une adresse</a>
    </div>
</div>
{%endblock%}