{% extends 'layout.twig' %}

{%block title%} Modifier un contact {%endblock%}

{%block content %}
    
<div class="row">
    <div class="col-sm-8">
        {% if (flashbag) %}
            <div class="alert alert-success">Le contact a bien été modifié <a href="contacts.php">Liste des contacts</a></div>
        {% endif %}
        {% if (message) %}
            <div class="alert alert-danger">Attention! le nom est un palindrome</div>
        {% endif %}
        <form class="form-signin" method="POST">
        <h2 class="form-signin-heading">Modifier un contact </h2>
        <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" value="{{ contact.nom }}" name="nom" id="nom" class="form-control" placeholder="Nom" required autofocus>
        </div>
        <div class="form-group">
            <label for="prenom">Prénom:</label>
            <input type="text" value="{{ contact.prenom }}" name="prenom" id="prenom" class="form-control" placeholder="Prénom" required>
        </div>
        <div class="form-group" >
            <label for="email" class="float-none">Email:</label>
            <div style="height: 55px">
            <input type="email" value="{{ contact.email }}" name="email" id="email" class="form-control float-left" placeholder="Email" required style="width: 80%"><a class="btn btn-primary float-right" id='check'>Vérifier</a>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Modifier</button>
      </form>
    </div>
    <div class="col-sm-4">
        <h2 class="form-signin-heading">Adresses </h2>
        <ul>          
            {% for adresse in adresses %}
                <li><a href="edit_adresse.php?id={{ adresse.id }}&contact={{ contact.id }}">{{ adresse.adresse }}</a></li>
            {% endfor %}            
        </ul>
        <br /><br />
        <a class="btn btn-lg btn-primary btn-block" href="add_adresse.php?id={{ contact.id }}">Ajouter une adresse</a>        
    </div>
</div>
{%endblock%}