{% extends 'layout.twig' %}

{%block title%} Page d'accueil {%endblock%}

{%block content %}

  <div class="row">
    <div class="col-sm-12">
        <form class="form-signin" method="POST">
        <h2 class="form-signin-heading">Connectez-vous pour accéder</h2>
        <div class="form-group">
            <label for="login" class="sr-only">Login</label>
            <input type="text" name="username" id="login" class="form-control" placeholder="Login" required autofocus>
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">Mot de passe</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe" required>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
        </div>
      </form>
    </div>
</div>
{%endblock%}