<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %} {%endblock%}</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Custom styles -->
        <link href="templates/css/form.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#check").click(function () {
                    $.ajax({
                        url: 'http://api-rest/index.php/api/contact',
                        type: 'POST', // Le type de la requête HTTP
                        data: 'data=' + $("#email").val(), // les variables
                        dataType: 'html', // recevoir du HTML
                        success: function (code_html, statut) {
                            $('#email').addClass('checked');
                            $('#submit').prop("disabled", false);                            
                        },

                        error: function (resultat, statut, erreur) {
                            $('#submit').prop("disabled", true);
                             alert('Veuillez saisir une adresse électronique valide');
                        },
                    });
                });
            });
        </script>
    </head>

    <body>
        <!--Header-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="contacts.php">Gestion des contacts</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <div class="navbar-nav mr-auto">

                </div>
                <ul class="form-inline my-2 my-lg-0">
                    <a class="btn btn-outline-success my-2 my-sm-0" href="logout.php">Logout</a>
                </ul>
            </div>
        </nav>

           <!-- container-->
        <main role="main" class="container">

            <div class="starter-template" style="padding-top: 100px">
                {% block content%} {%endblock%}
            </div>

        </main><!-- /.container -->

    </body>
</html>

