{% extends 'layout.twig' %}

{%block title%} Liste des contacts {%endblock%}

{%block content %}

  <div class="row">
    <div class="col-sm-12">
        <h1 class="float-left">Liste des contacts</h1>
        <a class="btn btn-primary float-right" href="add.php">Créer un contact</a>
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>E-mail</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.nom }}</td>
                    <td>{{ contact.prenom }}</td>
                    <td>{{ contact.email }}</td>
                    <td>
                        <a class="btn btn-primary" href="edit.php?id={{ contact.id }} ">Editer</a>                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>            
        </table>
    </div>    
</div>

{%endblock%}